<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <h2 class="card-title">Agrega tus políticas de envíos y devoluciones</h2>
            <div class="row">
                <div class="col-sm-8 col-xs-8 col-lg-8">
                    <form [formGroup]="returnPolicyForm" (submit)="saveReturnPolicy()">
                        <div class="form-group">
                            <label for="descripcion">Descripción de tus políticas de envíos y devoluciones</label>
                            <quill-editor class="txtContent" [modules]="modulesQuill" placeholder="Introduce la descripción de tu política de devolución" formControlName="descripcion"></quill-editor>
                            <div class="text-danger mt-2" *ngIf="invalidField('descripcion')">

                                <p>{{ getErrorMessage("descripcion") }}</p>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-success m-r-10"><i class="fas fa-save"></i> Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- row -->