.navbar-nav > .nav-item > .nav-link {
    line-height: 40px;
    height: 40px;
    color: white;
}

.navbar-nav > .nav-item:hover {
    background: none;
}

.button-color:hover{
    color: white !important;
}