/* PRODUCT FINDER STYLES */

/* From uiverse.io by @alexruix */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 100%;
}
   
.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    background-color: #ffffff;
    color: #0d0c22;
    transition: .3s ease;
}
   
.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: #6c3a3a;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}
   
/* END */

/* Loading Search */
/* From uiverse.io by @satyamchaudharydev */
/* From uiverse.io by @satyamchaudharydev */
.loader {
    --clr: #3498db;
    /* color of spining  */
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
}
   
.loader:before, .loader:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: var(--clr);
}
   
.loader:before {
    z-index: 100;
    animation: spin 1s infinite;
}
   
.loader:after {
    border: 10px solid #ccc;
}
   
@keyframes spin {
    0% {
     -webkit-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
    }
   
    100% {
     -webkit-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
    }
}

/* END */

.swiper-button-prev{
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-width: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
    cursor: pointer;
    height: 60px;
    outline: 0;
    position: absolute;
    top: 40%;
    width: 60px;
    z-index: 2;
}

.swiper-button-next{
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-width: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
    cursor: pointer;
    height: 60px;
    outline: 0;
    position: absolute;
    top: 40%;
    width: 60px;
    z-index: 2;
}

.swiper-button-prev::after{
    font-size: 34px;
    margin-right: 4px;
}

.swiper-button-next::after{
    font-size: 34px;
    margin-left: 6px;
}

.titles{
    color: #398bf7;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.category-image{
    min-height: 280px;
    max-height: 280px;
}

.imagen-producto{
    min-height: 250px;
    max-height: 250px;
}

.category-card-height{
    min-height: 45px;
    max-height: 45px;
}

/* Color de la carta */
// .el-card-item{
//    background: #FBF6F3;
// }

.height-card{
    min-height: 85px;
    max-height: 85px;
}

// .height-card h4{
//     color: #fff;
// }


.price-of-the-product{
    font-weight: 500;
}

.limit{
    position: absolute;
    right: 0%;
}

.without-results{
    vertical-align:auto;
}


@media (max-width: 460px) {

    .category-actions{
        float: left !important;
        margin-bottom: 15px;
    }
}

@media (max-width: 494px) {

    .product-pager-options{
        float: left !important;
        margin-bottom: 15px;
    }
}


@media (max-width: 575px) {

    .height-card{
        min-height: 65px;
        max-height: 65px;
    }
}