<div class="row" *ngIf="charging">
    <div class="col-12">

        <div class="text-center mt-4">
            <app-cargando></app-cargando>
        </div>

    </div>
</div>

<div class="row" *ngIf="!charging">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3 position-relative">
                    <div class="col-md-12 mr-0">
                        <h4 class="h3 mb-2 text-gray-800 pt-2">Buscar por rango de fecha</h4>
                        <div class="form-inline">
                            <form class="form-inline mr-2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" (ngModelChange)="onDateChange()" placeholder="Desde la fecha" name="dp2" [(ngModel)]="fromDate"
                                            ngbDatepicker [markDisabled]="isDisabled" #d3="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary no-shadow" (click)="d3.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Hasta la fecha" name="dp3" [(ngModel)]="toDate"
                                            ngbDatepicker [markDisabled]="disableToDate" #d4="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary no-shadow" (click)="d4.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="form-inline action-buttons mt-3">
                            <button class="btn btn-danger clean-dates" (click)="cleanDates()">
                                <i class="fas fa-times"></i> Eliminar fechas
                            </button>
                            <button class="btn btn-primary clean-dates" (click)="showAllSales()">
                               <i class="fas fa-undo-alt"></i> Mostrar todo
                            </button>
                            <button class="btn btn-info clean-dates" (click)="uploadFilteredSales()">
                               <i class="fas fa-search"></i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <h4 *ngIf="!lookingForSomething"><strong>Total de pedidos realizados:</strong> {{ totalOrders }}</h4>
                <h4 *ngIf="lookingForSomething"><strong>Total de resultados de la búsqueda: </strong>{{ totalSearchResults }}</h4>
                <div class="col-12" *ngIf="!result && !charging">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 pb-4">
                                    <div class="text-center">
                                        <img class="img-search" src="../../../assets/images/big/undraw_personal_finance_tqcd.svg" alt="No hay resultados">
                                        <h5 class="text-muted mt-3">No se encontraron resultados.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" *ngIf="!searchResultsExist && !charging">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 pb-4">
                                    <div class="text-center">
                                        <img class="img-search" src="../../../assets/images/big/undraw_personal_finance_tqcd.svg" alt="No hay resultados">
                                        <h5 class="text-muted mt-3">No se encontraron resultados en este rango de fecha.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="result && !charging && searchResultsExist" class="table-responsive">
                    <table class="table v-middle product-overview table-bordered table-hover" id="zero_config">
                        <thead>
                            <tr class="text-center">
                                <th>Fecha de compra</th>
                                <th>Precio Total</th>
                                <th>Cantidad de productos comprados</th>
                                <th>Estado de la transacción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pedido of pedidos | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize" class="text-center">
                                <!-- <td>{{ pedido.fecha.toMillis() | date:'MMM d, y h:mm a' }}</td> -->
                                <td>{{ formatDate(pedido.fecha.toMillis()) }}</td>
                                <td>{{ getTotal(pedido.precioTotal) }}</td>
                                <td>{{ pedido.cantidadProductos }}</td>
                                <td *ngIf="pedido.estadoTransaccion === 'PENDING'"><span class="label label-warning">PENDIENTE</span></td>
                                <td *ngIf="pedido.estadoTransaccion === 'APPROVED'"><span class="label label-success">APROBADA</span></td>
                                <td *ngIf="pedido.estadoTransaccion === 'DECLINED'"><span class="label label-danger">RECHAZADA</span></td>
                                <td *ngIf="pedido.estadoTransaccion === 'ERROR'"><span class="label label-danger">ERROR</span></td>
                                <td *ngIf="pedido.estadoTransaccion === 'VOIDED'"><span class="label label-danger">ANULADA</span></td>
                                <td>
                                    <a class="text-inverse p-r-10" data-toggle="tooltip" title="Edit" [routerLink]="['/dashboard/detalles-mi-pedido/', pedido.id ]">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Aqui va el codigo de la paginación de la tabla -->
                <div class="d-flex justify-content-between" *ngIf="!charging && result && searchResultsExist">
                    <ngb-pagination [(page)]="cpage" [pageSize]="cpageSize" [collectionSize]="totalOrders"></ngb-pagination>
                    <select class="custom-select" style="width: auto" [(ngModel)]="cpageSize">
                        <option [ngValue]="5">5 registros por página</option>
                        <option [ngValue]="10">10 registros por página</option>
                        <option [ngValue]="30">30 registros por página</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>