.card-recent-posts {
    min-height: 80vh;
    max-height: 80vh;
}

.card-products {
    cursor: pointer;
}

.img-fondo {
    min-width: 70%;
    max-width: 70%;
}

.color-text{
    color: gray;
}

.mt-img-fondo{
    margin-top: 5rem;
}