<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" [ngClass]="{'show-sidebar': showMobileMenu}" [dir]="options.dir"
    [attr.data-theme]="options.theme" [attr.data-layout]="options.layout" [attr.data-sidebartype]="options.sidebartype"
    [attr.data-sidebar-position]="options.sidebarpos" [attr.data-header-position]="options.headerpos"
    [attr.data-boxed-layout]="options.boxed">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in topbar.scss -->
    <!-- ============================================================== -->
    <header class="header landing-header" id="header" *ngIf="options.layout==='horizontal'">
        <div class="dividing-line">
        </div>
        <nav class="nav landing-nav container">
            <a href="#" class="nav__logo">
                <img src="../../../assets/images/ORIGEN ECOMMERCE NARANJA.png" class="img-fluid" alt="logo"> 
            </a>

            <div class="nav__menu" [ngClass]="(showMenu)?'nav__menu show-menu':'nav__menu'" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a routerLink="/ver-productos" class="nav__link">Inicio</a>
                    </li>
                    <li class="nav__item">
                        <a routerLink="/ver-ofertas" class="nav__link">Ofertas</a>
                    </li>
                    <li class="nav__item">
                        <a routerLink="/ver-productos-populares" class="nav__link">Productos más buscados</a>
                    </li>
                    
                    <div class="nav__link">
                         <a routerLink="/login" class="button nav__button menu-button login-button">
                             Iniciar Sesión
                         </a>
                    </div>
                </ul>

                <div class="nav__close" id="nav-close" (click)="showMenu = !showMenu">
                   <i class="fas fa-window-close"></i>
                </div>
            </div>

            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle" (click)="showMenu = !showMenu">
                <!-- <i class=" fas fa-align-justify"></i> -->
                <img src="i../../../../../assets/images/icon/hamburguesa.svg" alt="Menu" class="hamburguer">
            </div>
        </nav>
    </header>

    <header class="topbar" [attr.data-navbarbg]="options.navbarbg" *ngIf="options.layout==='vertical'">
        <nav class="d-flex top-navbar navbar-expand-lg"
            [ngClass]="(options.navbarbg=='skin6')?'navbar-light':'navbar-dark'">
            <div class="navbar-header" [ngClass]="(expandLogo)?'expand-logo':''" [attr.data-logobg]="options.logobg">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a *ngIf="!hideSideMenu" (click)="showMobileMenu = !showMobileMenu"
                    class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)">
                    <i [ngClass]="(showMobileMenu)?'ti-close':'ti-menu'"></i>
                </a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" routerLink="/dashboard/">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="../../../assets/images/logo-corto-guajira.png" alt="homepage" class="dark-logo origen-logo mr-2" />
                        <!-- Light Logo icon -->
                        <img src="../../../assets/images/logo-corto-guajira.png" alt="homepage" class="light-logo origen-logo mr-2" />
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                        <!-- dark Logo text -->
                        <img src="../../../assets/images/ORIGEN ECOMMERCE NARANJA.png" alt="homepage" class="dark-logo text-logo" />
                        <!-- Light Logo text -->
                        <img src="../../../assets/images/ORIGEN ECOMMERCE NARANJA.png" class="light-logo text-logo" alt="homepage" />
                    </span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
                    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                    <i class="ti-more"></i>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div id="navbar-container" class="navbar-collapse collapse float-right" id="navbarSupportedContent" [attr.data-navbarbg]="options.navbarbg"
                [ngbCollapse]="!isCollapsed">

                <!-- Horizontal Header -->
                <div *ngIf="options.layout==='horizontal'; else vheader" class="w-100">
                    <app-horizontal-navigation class="w-100 d-flex align-items-center justify-content-between">
                    </app-horizontal-navigation>
                </div>

                <!-- Vertical Header -->
                <ng-template #vheader>
                    <div class="w-100">
                        <app-vertical-navigation (toggleSidebar)="toggleSidebarType()">
                        </app-vertical-navigation>
                    </div>
                </ng-template>
            </div>
        </nav>
    </header>


    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside *ngIf="!hideSideMenu" class="left-sidebar" [attr.data-sidebarbg]="options.sidebarbg" (mouseover)="Logo()" (mouseout)="Logo()">
        <!-- Sidebar scroll-->
        <div *ngIf="options.layout==='horizontal'; else vlayout">
            <app-horizontal-sidebar></app-horizontal-sidebar>
        </div>

        <!-- Horizontal Header -->
        <ng-template #vlayout>
            <div class="scroll-sidebar" [perfectScrollbar]="config">
                <app-vertical-sidebar [showClass]='showMobileMenu' 
                (notify)='handleClick($event)'></app-vertical-sidebar>
            </div>
        </ng-template>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <app-breadcrumb></app-breadcrumb>

        <div *ngIf="options.layout==='horizontal'" class="advantages-container">
            <div class="card">
                <div class="card-body">
                    <div class="pay-perks-item-container d-flex justify-content-between align-items-center justify-content-center">
                       <div class="payment-benefits-article d-flex align-items-center justify-content-center">
                           <img src="../../../assets/images/icon/Credit Card_Flat.svg" width="45" height="45" alt="">
                           <div class="ml-2 font-weight-semibold">Paga con tarjeta de una manera muy comoda</div>
                       </div>
                       <div class="payment-benefits-article d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/icon/Online Payment_Line.svg" width="45" height="45" alt="">
                            <div class="ml-2 font-weight-semibold">Transferencia desde tu banco</div>
                       </div>
                       <div class="payment-benefits-article d-flex align-items-center justify-content-center">
                            <img src="../../../assets/images/icon/Antivirus_Flat.svg" width="45" height="45" alt="">
                            <div class="ml-2 font-weight-semibold">Paga de manera fácil y segura</div>
                       </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>
            <!-- ============================================================== -->
            <!-- End Start Page Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->


        <div class="aviso-cookies" id="aviso-cookies">
            <img class="galleta" src="../../../assets/images/icon/cookie.svg" alt="Galleta">
            <h3 class="titulo">Cookies</h3>
            <p class="parrafo">Utilizamos cookies propias y de terceros para mejorar nuestros servicios.</p>
            <button class="boton" id="btn-aceptar-cookies" (click)="acceptCookie()">De acuerdo</button>
            <a class="enlace" href="aviso-cookies">Aviso de Cookies</a>
        </div>
        <div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>


        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer *ngIf="!hideSideMenu" class="footer">
            © 2022 · copyright · Todos los derechos reservados
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>

<div *ngIf="hideSideMenu" class="site-shopping-info">
    <div class="text-center">
        <img src="../../../assets/images/ORIGEN ECOMMERCE NARANJA.png" alt="" class="footer-logo">
    </div>
    <div class="row container-footer mb-4">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 info-slide">
            <div class="footer-card-icon text-center">
                <img src="../../../assets/images/icon/pagos con tarjeta.png" class="text-center footer-icon w-30 mb-3" alt="Paga con tarjeta o en efectivo">
            </div>
            <div class="text-center">
                <h2>Paga con tarjeta de una manera muy comoda</h2>
                <p><span>Paga de una manera muy fácil y segura.</span></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 info-slide">
            <div  class="footer-icon text-center mt-3">
                <img src="../../../assets/images/icon/envios seguros.png" class="text-center footer-icon w-30 mb-2" alt="Envío gratis desde $ 70.000">
            </div>
            <div class="text-center">
                <h2>Envíos</h2><p><span>Con solo estar registrado en nuestra aplicación tienes entregas en tu ciudad.</span></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-4 info-slide m-auto">
            <div class="footer-icon text-center">
                <img src="../../../assets/images/icon/pago seguro.png" class="text-center footer-icon w-30 mb-3" alt="Seguridad, de principio a fin">
            </div>
            <div class="text-center">
                <h2>Seguridad, de principio a fin</h2>
                <p><span>Siempre estarás protegido ya que contamos con las medidas necesarias que garantizan tu seguridad, evitando que se haga uso indebido de los datos personales que proporciones en el sitio web.</span></p>
            </div>
        </div>
    </div>
    <hr *ngIf="!loadingContactInformation">
    <div class="menu" *ngIf="!loadingContactInformation">
        <ul>
            <li class="main-link">
            <a href="#">Nuestra Información</a>
            </li>
            <li><i class="fas fa-phone mr-2"></i><span class="font-weight-semibold">Teléfono</span></li>
            <li *ngIf="contactInformation.telefono > 0" class="mb-2">{{ contactInformation.telefono }}</li>
            <li><i class="ti-email mr-2"></i><span class="font-weight-semibold">Email</span></li>
            <li *ngIf="contactInformation.correo.length > 0" class="mb-2">{{ contactInformation.correo }}</li>
            <li><i class="fas fa-map-marker-alt mr-2"></i><span class="font-weight-semibold">Dirección</span></li>
            <li *ngIf="contactInformation.direccion.length > 0">{{ contactInformation.direccion }}</li>
        </ul>
        <div *ngIf="areThereSocialNetworks" class="social-media">
            <div class="main-link">
                <a href="#">Síguenos en</a>
            </div>
            <a [href]="contactInformation.facebook" *ngIf="contactInformation.facebook.length > 0"><i class="fab fa-facebook"></i></a>
            <a [href]="contactInformation.instagram" *ngIf="contactInformation.instagram.length > 0"><i class="fab fa-instagram"></i></a>
            <a [href]="contactInformation.whatsapp" *ngIf="contactInformation.whatsapp.length > 0"><i class="fab fa-whatsapp"></i></a>
            <a [href]="contactInformation.twitter" *ngIf="contactInformation.twitter.length > 0"><i class="fab fa-twitter"></i></a>
            <a [href]="contactInformation.youtube" *ngIf="contactInformation.youtube.length > 0"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
<div class="dividing-line" *ngIf="options.layout==='horizontal'">
</div>