<div class="row" *ngIf="charging">
    <div class="col-12">

        <div class="text-center mt-4">
            <app-cargando></app-cargando>
        </div>

    </div>
</div>

<div *ngIf="!charging" class="row">
    <div class="col-12">
        <div class="float-left">
            <h3 class="titles">Productos más populares</h3>
        </div>
        <div class="float-right product-pager-options">
            <div class="d-flex justify-content-between">
                <select class="custom-select" style="width: auto" [(ngModel)]="cpageSize">
                    <option [ngValue]="8">8 productos por página</option>
                    <option [ngValue]="16">16 productos por página</option>
                    <option [ngValue]="24">24 productos por página</option>
                    <option [ngValue]="48">48 productos por página</option>
                    <option [ngValue]="100">100 productos por página</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row el-element-overlay" *ngIf="!charging">
    <div class="col-lg-3 col-md-6 card-producto" *ngFor="let product of products | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
        <a *ngIf="directToHomePage" [routerLink]="['/detalle-producto/', product.id ]">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <img [src]="product.foto" alt="Foto del producto {{ product.nombre}}" class="imagen-producto"/>
                    </div>
                    <div class="height-card d-flex no-block">
                        <div class="m-l-15">
                            <h4 class="m-b-0">{{ product.nombre | slice:0:33 }}{{ (product.nombre.length > 33) ? '...': '' }}</h4>
                            <h4 class="mt-2 price-of-the-product" *ngIf="product.precioReducido == 0">{{ getPrice(product.precioNormal) }}</h4>
                            <h4 class="mt-2 price-of-the-product" *ngIf="product.precioReducido > 0">{{ getDiscountedPrice(product.precioNormal, product.precioReducido) }}
                                <small class="ml-1 text-success">({{ product.precioReducido }}% off)</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a *ngIf="!directToHomePage" [routerLink]="['/dashboard/detalle-producto/', product.id ]">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <img [src]="product.foto" alt="Foto del producto {{ product.nombre}}" class="imagen-producto"/>
                    </div>
                    <div class="height-card d-flex no-block">
                        <div class="m-l-15">
                            <h4 class="m-b-0">{{ product.nombre | slice:0:33 }}{{ (product.nombre.length > 33) ? '...': '' }}</h4>
                            <h4 class="mt-2 price-of-the-product" *ngIf="product.precioReducido == 0">{{ getPrice(product.precioNormal) }}</h4>
                            <h4 class="mt-2 price-of-the-product" *ngIf="product.precioReducido > 0">{{ getDiscountedPrice(product.precioNormal, product.precioReducido) }}
                                <small class="ml-1 text-success">({{ product.precioReducido }}% off)</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-12 p-0" *ngIf="!charging && totalProducts === 0">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-12 p-3">
                    <div class="text-center">
                        <img class="img-search" src="../../../assets/images/big/Shopping cart_Isometric.svg" alt="Sin denuncias">
                        <h5 class="text-muted mt-4 mb-1">No existen productos mas buscados aún</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="!charging">
    <div class="col-12">
      <div class="float-right">
        <ngb-pagination [(page)]="cpage" [pageSize]="cpageSize" [collectionSize]="totalProducts"></ngb-pagination>
      </div>
    </div>
</div>